
TestData/Signals_LW1000Int1000Cycle.mat
TestData/Signals_LW1000Int100Cycle.mat
TestData/Signals_LW1000Int500Cycle.mat
TestData/Signals_LW100Int100Cycle.mat
TestData/Signals_LW5000Int1000Cycle.mat
TestData/Signals_LW5000Int100Cycle.mat
TestData/Signals_LW5000Int5000Cycle.mat
TestData/Signals_LW5000Int500Cycle.mat
TestData/Signals_LW500Int100Cycle.mat
TestData/Signals_LW500Int500Cycle.mat
ResampledData/ByExperiment/Fs01/Exp01.mat
ResampledData/ByExperiment/Fs01/Exp02.mat
ResampledData/ByExperiment/Fs01/Exp03.mat
ResampledData/ByExperiment/Fs01/Exp04.mat
ResampledData/ByExperiment/Fs01/Exp05.mat
ResampledData/ByExperiment/Fs01/Exp06.mat
ResampledData/ByExperiment/Fs01/Exp07.mat
ResampledData/ByExperiment/Fs01/Exp08.mat
ResampledData/ByExperiment/Fs01/Exp09.mat
ResampledData/ByExperiment/Fs01/Exp10.mat
ResampledData/ByExperiment/Fs01/Exp11.mat
ResampledData/ByExperiment/Fs01/Exp12.mat
ResampledData/ByExperiment/Fs05/Exp01.mat
ResampledData/ByExperiment/Fs05/Exp02.mat
ResampledData/ByExperiment/Fs05/Exp03.mat
ResampledData/ByExperiment/Fs05/Exp04.mat
ResampledData/ByExperiment/Fs05/Exp05.mat
ResampledData/ByExperiment/Fs05/Exp06.mat
ResampledData/ByExperiment/Fs05/Exp07.mat
ResampledData/ByExperiment/Fs05/Exp08.mat
ResampledData/ByExperiment/Fs05/Exp09.mat
ResampledData/ByExperiment/Fs05/Exp10.mat
ResampledData/ByExperiment/Fs05/Exp11.mat
ResampledData/ByExperiment/Fs05/Exp12.mat
ResampledData/ByExperiment/Fs10/Exp01.mat
ResampledData/ByExperiment/Fs10/Exp02.mat
ResampledData/ByExperiment/Fs10/Exp03.mat
ResampledData/ByExperiment/Fs10/Exp04.mat
ResampledData/ByExperiment/Fs10/Exp05.mat
ResampledData/ByExperiment/Fs10/Exp06.mat
ResampledData/ByExperiment/Fs10/Exp07.mat
ResampledData/ByExperiment/Fs10/Exp08.mat
ResampledData/ByExperiment/Fs10/Exp09.mat
ResampledData/ByExperiment/Fs10/Exp10.mat
ResampledData/ByExperiment/Fs10/Exp11.mat
ResampledData/ByExperiment/Fs10/Exp12.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs01/Exp01.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs01/Exp02.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs01/Exp03.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs01/Exp04.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs01/Exp05.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs01/Exp06.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs01/Exp07.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs01/Exp08.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs01/Exp09.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs01/Exp10.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs01/Exp11.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs01/Exp12.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs05/Exp01.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs05/Exp02.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs05/Exp03.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs05/Exp04.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs05/Exp05.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs05/Exp06.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs05/Exp07.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs05/Exp08.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs05/Exp09.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs05/Exp10.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs05/Exp11.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs05/Exp12.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs10/Exp01.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs10/Exp02.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs10/Exp03.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs10/Exp04.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs10/Exp05.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs10/Exp06.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs10/Exp07.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs10/Exp08.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs10/Exp09.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs10/Exp10.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs10/Exp11.mat
ResampledData/ByWindow/LW1000Int1000Cycle/Fs10/Exp12.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs01/Exp01.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs01/Exp02.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs01/Exp03.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs01/Exp04.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs01/Exp05.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs01/Exp06.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs01/Exp07.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs01/Exp08.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs01/Exp09.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs01/Exp10.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs01/Exp11.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs01/Exp12.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs05/Exp01.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs05/Exp02.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs05/Exp03.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs05/Exp04.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs05/Exp05.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs05/Exp06.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs05/Exp07.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs05/Exp08.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs05/Exp09.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs05/Exp10.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs05/Exp11.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs05/Exp12.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs10/Exp01.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs10/Exp02.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs10/Exp03.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs10/Exp04.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs10/Exp05.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs10/Exp06.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs10/Exp07.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs10/Exp08.mat
ResampledData/ByWindow/LW1000Int100Cycle/Fs10/Exp09.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs01/Exp01.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs01/Exp02.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs01/Exp03.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs01/Exp04.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs01/Exp05.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs01/Exp06.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs01/Exp07.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs01/Exp08.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs01/Exp09.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs01/Exp10.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs01/Exp11.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs01/Exp12.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs05/Exp01.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs05/Exp02.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs05/Exp03.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs05/Exp04.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs05/Exp05.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs05/Exp06.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs05/Exp07.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs05/Exp08.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs05/Exp09.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs05/Exp10.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs05/Exp11.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs05/Exp12.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs10/Exp01.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs10/Exp02.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs10/Exp03.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs10/Exp04.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs10/Exp05.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs10/Exp06.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs10/Exp07.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs10/Exp08.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs10/Exp09.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs10/Exp10.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs10/Exp11.mat
ResampledData/ByWindow/LW1000Int500Cycle/Fs10/Exp12.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs01/Exp01.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs01/Exp02.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs01/Exp03.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs01/Exp04.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs01/Exp05.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs01/Exp06.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs01/Exp07.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs01/Exp08.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs01/Exp09.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs01/Exp10.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs01/Exp11.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs01/Exp12.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs05/Exp01.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs05/Exp02.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs05/Exp03.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs05/Exp04.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs05/Exp05.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs05/Exp06.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs05/Exp07.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs05/Exp08.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs05/Exp09.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs05/Exp10.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs05/Exp11.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs05/Exp12.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs10/Exp01.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs10/Exp02.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs10/Exp03.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs10/Exp04.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs10/Exp05.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs10/Exp06.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs10/Exp07.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs10/Exp08.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs10/Exp09.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs10/Exp10.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs10/Exp11.mat
ResampledData/ByWindow/LW100Int100Cycle/Fs10/Exp12.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs01/Exp01.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs01/Exp02.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs01/Exp03.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs01/Exp04.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs01/Exp05.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs01/Exp06.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs01/Exp07.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs01/Exp08.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs01/Exp09.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs01/Exp10.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs01/Exp11.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs01/Exp12.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs05/Exp01.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs05/Exp02.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs05/Exp03.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs05/Exp04.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs05/Exp05.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs05/Exp06.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs05/Exp07.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs05/Exp08.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs05/Exp09.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs05/Exp10.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs05/Exp11.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs05/Exp12.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs10/Exp01.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs10/Exp02.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs10/Exp03.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs10/Exp04.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs10/Exp05.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs10/Exp06.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs10/Exp07.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs10/Exp08.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs10/Exp09.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs10/Exp10.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs10/Exp11.mat
ResampledData/ByWindow/LW5000Int1000Cycle/Fs10/Exp12.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs01/Exp01.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs01/Exp02.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs01/Exp03.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs01/Exp04.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs01/Exp05.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs01/Exp06.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs01/Exp07.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs01/Exp08.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs01/Exp09.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs01/Exp10.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs01/Exp11.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs01/Exp12.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs05/Exp01.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs05/Exp02.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs05/Exp03.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs05/Exp04.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs05/Exp05.mat
ResampledData/ByWindow/LW5000Int100Cycle/Fs05/Exp06.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs01/Exp01.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs01/Exp02.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs01/Exp03.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs01/Exp04.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs01/Exp05.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs01/Exp06.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs01/Exp07.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs01/Exp08.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs01/Exp09.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs01/Exp10.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs01/Exp11.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs01/Exp12.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs05/Exp01.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs05/Exp02.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs05/Exp03.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs05/Exp04.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs05/Exp05.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs05/Exp06.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs05/Exp07.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs05/Exp08.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs05/Exp09.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs05/Exp10.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs05/Exp11.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs05/Exp12.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs10/Exp01.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs10/Exp02.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs10/Exp03.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs10/Exp04.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs10/Exp05.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs10/Exp06.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs10/Exp07.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs10/Exp08.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs10/Exp09.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs10/Exp10.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs10/Exp11.mat
ResampledData/ByWindow/LW5000Int5000Cycle/Fs10/Exp12.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs01/Exp01.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs01/Exp02.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs01/Exp03.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs01/Exp04.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs01/Exp05.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs01/Exp06.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs01/Exp07.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs01/Exp08.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs01/Exp09.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs01/Exp10.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs01/Exp11.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs01/Exp12.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs05/Exp01.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs05/Exp02.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs05/Exp03.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs05/Exp04.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs05/Exp05.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs05/Exp06.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs05/Exp07.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs05/Exp08.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs05/Exp09.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs05/Exp10.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs05/Exp11.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs05/Exp12.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs10/Exp01.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs10/Exp02.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs10/Exp03.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs10/Exp04.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs10/Exp05.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs10/Exp06.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs10/Exp07.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs10/Exp08.mat
ResampledData/ByWindow/LW5000Int500Cycle/Fs10/Exp09.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs01/Exp01.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs01/Exp02.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs01/Exp03.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs01/Exp04.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs01/Exp05.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs01/Exp06.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs01/Exp07.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs01/Exp08.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs01/Exp09.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs01/Exp10.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs01/Exp11.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs01/Exp12.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs05/Exp01.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs05/Exp02.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs05/Exp03.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs05/Exp04.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs05/Exp05.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs05/Exp06.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs05/Exp07.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs05/Exp08.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs05/Exp09.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs05/Exp10.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs05/Exp11.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs05/Exp12.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs10/Exp01.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs10/Exp02.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs10/Exp03.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs10/Exp04.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs10/Exp05.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs10/Exp06.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs10/Exp07.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs10/Exp08.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs10/Exp09.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs10/Exp10.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs10/Exp11.mat
ResampledData/ByWindow/LW500Int100Cycle/Fs10/Exp12.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs01/Exp01.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs01/Exp02.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs01/Exp03.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs01/Exp04.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs01/Exp05.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs01/Exp06.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs01/Exp07.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs01/Exp08.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs01/Exp09.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs01/Exp10.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs01/Exp11.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs01/Exp12.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs05/Exp01.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs05/Exp02.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs05/Exp03.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs05/Exp04.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs05/Exp05.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs05/Exp06.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs05/Exp07.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs05/Exp08.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs05/Exp09.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs05/Exp10.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs05/Exp11.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs05/Exp12.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs10/Exp01.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs10/Exp02.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs10/Exp03.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs10/Exp04.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs10/Exp05.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs10/Exp06.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs10/Exp07.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs10/Exp08.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs10/Exp09.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs10/Exp10.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs10/Exp11.mat
ResampledData/ByWindow/LW500Int500Cycle/Fs10/Exp12.mat
