
TestData/Signals_LW1000Int1000Cycle.mat
TestData/Signals_LW1000Int100Cycle.mat
TestData/Signals_LW1000Int500Cycle.mat
TestData/Signals_LW100Int100Cycle.mat
TestData/Signals_LW5000Int1000Cycle.mat
TestData/Signals_LW5000Int100Cycle.mat
TestData/Signals_LW5000Int5000Cycle.mat
TestData/Signals_LW5000Int500Cycle.mat
TestData/Signals_LW500Int100Cycle.mat
TestData/Signals_LW500Int500Cycle.mat
